<?xml version="1.0" encoding="utf-8"?>
<config>
	<dl>xml</dl>
	<dl-packages>
		<!--<staticList namespace="Dal" class="DalObject">DalObject</staticList>-->
		<xml namespace="Dal" class="DalXml">DalXml</xml>
		<!--<oracle namespace="DL_O" class="DLDbOracle">DLOracle</oracle>-->
	</dl-packages>
</config>